/*------------------ BLOCOS GRID ---------------------*/
body {
    font-family: 'Roboto', sans-serif;
    color: black;
    margin:0;
    display:grid;
    grid-template-areas: 
    'header header header header'
    'dois dois dois dois'
    'tres tres tres tres'
    'aside aside quatro quatro'
    'footer footer footer footer';
    grid-template-rows:
    220px /*header*/
    300px /*dois*/
    300px /*tres*/
    400px /*aside quatro*/
    100px /*footer*/;
    font-size: 18px;
}

header{
    grid-area: header;
    position:fixed;
    height:100%;
    z-index:1000;
}

.borda_topo{
    width: 100%;
    margin-top:150px;
    background-image: url(imagens/border_top.jpg);
    position:fixed;
    z-index:1000;
}

.um {
    background-color:white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height:150px;
    position:fixed;
    z-index:800;
}

nav{
    width:100%;
    height:50px;
    background-color: rgb(196,0,37, 0.9);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position:fixed;
    z-index:900;
    margin-top:170px;
}

.dois{
    grid-area: dois;
    background-color:black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tres{
    grid-area: tres;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tres{
    grid-area: quatro;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside{
    grid-area: aside;
    background-color: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    grid-area: footer;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*------------------ FONTES ---------------------*/
h1{
    font-family: 'Times New Roman', Times, serif;
    font-size:65px;
}

/*------------------ OBJETOS ---------------------*/
.links {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    opacity: 1.0;
}

#busca {
    width:300px;
    height:20px;
}

/*------------------ IMAGENS ---------------------*/
#logo_completo{
    width:500px;
    margin-bottom: 30px;
}

#logo_usp{
    width:350px;
    margin-bottom: 30px;
}

/*----------------- RESPONSIVIDADE -----------------*/
@media(max-width:900px){
    #logo_completo{
        width:400px;
        margin-bottom: 0px;
    }
    
    #logo_usp{
        width:300px;
        margin-bottom: 0px;
    }
}