{% extends 'main.html' %}

{% load staticfiles %}

{% block content %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<header>
    <div class="borda_topo">.</div>   
    <section class="um">
        <img src="{% static 'imagens/logo_completo.png'%}" alt="usp" id="logo_completo">
        <img src="{% static 'imagens/each_usp_modificado.png'%}" alt="usp" id="logo_usp">
    </section>
    <nav>
        <a href="#" class="links">Entidades</a>
        <a href="#" class="links">Eventos</a>
        <a href="#" class="links">Academia</a>
        <a href="#" class="links">Incubadora</a>
        <a href="#" class="links">Professores</a>
        <input type="text" id="busca" placeholder="Pesquisar..."/>
    </nav>
</header>
<section class="dois">
    .
</section>
<section class="tres">
    .
</section>
<aside>
    .
</aside>
<footer>
    .
</footer>
    
{% endblock %}