{% extends 'main.html' %}

{% load staticfiles %}

{% block content %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<header>
    <div class="borda_topo">.</div>   
    <section class="um">
        <h1>Portal de Notícias</h1>
        <img src="{% static 'imagens/usp_preto.jpg'%}" alt="usp" id="logo_usp">
    </section>
    <nav>
        <a href="#" class="links">Início</a>
        <a href="#" class="links">Últimas Notícias</a>
        <a href="#" class="links">Por Campus</a>
        <a href="#" class="links">Por Tag</a>
        <a href="#" class="links">Contato</a>
        <input type="text" id="busca" placeholder="Pesquisar..."/>
    </nav>
</header>
<section class="dois">
    .
</section>
<section class="tres">
    .
</section>
<aside>
    .
</aside>
<footer>
    .
</footer>
    
{% endblock %}